<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-10 col-sm-12 mt-2 text-center">
          <i class="fa fa-lg fa-calendar text-light text-center"> Período Letivo</i>
        </div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button class="btn btn-dark border-light form-control text-light btn-sm" (click)="listar()">Listagem</button>
        </div>
      </div>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="inserir()">
      <div class="card-body">
        <div class="row m-3 form-group">
          <input type="hidden" class="form-control" formControlName="id">
          <div style="float:left; margin-right: 20px;" class="col-sm-12 col-lg-5">
            <label for="Periodo" style="display:block" class="text-left text-dark">Descrição</label>
            <input type="text" style="display:block" placeholder="Período..." class="form-control" required
              formControlName="periodo" (focusout)="validar($event)" (input)="validar($event)" maxlength="50">
          </div>
          <div style="float:left; margin-right: 20px;" class="col-sm-12 col-lg-3">
            <label for="Inicio" style="display:block" class="text-left text-dark">Início</label>
            <input type="date" style="display:block" placeholder="Inicio..." class="form-control" required
              formControlName="inicio" (focusout)="validar($event)" (input)="validar($event)" maxlength="10">
          </div>
          <div style="float:left; margin-right: 20px;" class="col-sm-12 col-lg-3">
            <label for="Fim" style="display:block" class="text-left text-dark">Fim</label>
            <input type="date" style="display:block" placeholder="Inicio..." class="form-control" required
              formControlName="fim" id="Fim" maxlength="10" (focusout)="validar($event)" (input)="validar($event)">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12 col-lg-10"></div>
          <div class="col-sm-12 col-lg-2">
            <button type="submit" class="btn btn-primary form-control">Salvar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="card-footer text-muted bg-dark mt-2">
      <i class="fa fa-lg fa-info-circle text-light"> Novo período</i>
      <div *ngIf="exibirAlerta" class="text-warning">* Os registros marcados em vermelho devem ser
        preenchidos</div>
    </div>
  </div>

  <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined">
    <div>
      <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
        <div class="col-2">
          <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
        </div>
        <div class="col-10">
          <h4>
            <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
          </h4>
        </div>
      </div>
    </div>
  </div>