<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-sm-12 mt-2 text-center">
              <i class="fa fa-lg fa-cubes text-light text-center"> Área do conhecimento</i>
            </div>
            <div class="col-lg-2 col-sm-12 mt-2">
              <button class="btn btn-dark border-light text-light btn-sm form-control"
                (click)="listar()">Listagem</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h4>
        <p class="text-danger"><b>Deseja excluir esse registro !?</b></p>
      </h4>
      <div class="row m-3 form-group">
        <input type="hidden" class="form-control">
        <input autofocus type="text " readonly placeholder="Nome... " readonly
          class="form-control col-lg-8 col-sm-12 mt-2" value="{{ areaConhecimento.nome }}" axlength="45 ">
        <div class="col-1 "></div>
        <input type="text " readonly placeholder="Abreviatura... " readonly class="form-control col-lg-3 col-sm-12 mt-2"
          maxlength="5" value="{{ areaConhecimento.abreviatura }}">
      </div>
      <div class="row m-2 form-group ">
        <div class="col-lg-2 col-sm-12">
          <button type="submit " class="btn btn-danger form-control" (click)="excluir()">Excluir</button>
        </div>
      </div>
    </div>
  </div>

  <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
    <div>
      <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
        <div class="col-2">
          <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
        </div>
        <div class="col-10">
          <h4>
            <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
          </h4>
        </div>
      </div>
    </div>
  </div>