<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-10 col-sm-12 text-center">
          <i class="fa fa-lg fa-warning text-light text-center"> Tipo de ocorrência disciplinar</i>
        </div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button class="btn btn-dark border-light text-light btn-sm form-control mt-2"
            (click)="listar()">Listagem</button>
        </div>
      </div>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="inserir()">
      <div class="card-body">
        <div class="row m-2 form-group">
          <input autofocus type="text" class="form-control col-lg-8 col-sm-12 mt-2" placeholder="Descricao"
            formControlName="nome" maxlength="50" required (input)="validar($event)" (focusout)="validar($event)">
          <div class="col-lg-1 col-sm-12 mt-2"></div>
          <input autofocus type="number" class="form-control col-lg-3 col-sm-12 mt-2" placeholder="Valor"
            formControlName="valor" maxlength="5" required (input)="validar($event)" (focusout)="validar($event)">
        </div>
        <div class="row">
          <div class="col-lg-10 col-sm-12"></div>
          <div class="col-lg-2 col-sm-12">
            <button type="submit" class="btn btn-primary form-control">Salvar</button>
          </div>
        </div>
      </div>

    </form>
    <div class="card-footer text-muted bg-dark mt-2">
      <i class="fa fa fa-info-circle text-light"> Novo tipo de ocorrência disciplinar</i>
      <div *ngIf="exibirAlerta" class="text-warning" [@chamado]="estado">* Os registros marcados devem ser preenchidos
      </div>
    </div>
  </div>
</div>

<div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>