<!--##############################################################################################-->

<div class="container-fluid container-card">
  <div class="row">

    <div id="transferir-escola" class="col-lg-4 col-sm-12 col-xs-12">
      <nb-card *ngIf="exibirComponente('transferencia-escola')" (click)="navegarTransferirEscola()">
        <nb-card-header>
          <i class="fa fa-4x fa-exchange text-danger"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center">Transferir de escola</h5>
        </nb-card-footer>
      </nb-card>
    </div>


    <div id="transferir-turma" class="col-lg-4 col-sm-12 col-xs-12">
      <nb-card *ngIf="exibirComponente('transferencia-turma')" (click)="navegarTransferirTurma()">
        <nb-card-header>
          <i class="fa fa-4x fa-exchange text-warning"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center">Transferir de turma</h5>
        </nb-card-footer>
      </nb-card>
    </div>

  </div>
</div>



<!--###############################################################################################-->