<!--##############################################################################################-->
<div class="container-fluid container-card">

  <div class="row">
    <div *ngIf="exibirComponente('listar-pedido-cartao')" class="col-lg-4 col-sm-12 col-xs-12">
      <nb-card (click)="listarPedidoCartao()">
        <nb-card-header>
          <i class="fa fa-4x fa-list text-primary"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center">Listar pedidos de cartões</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <div *ngIf="exibirComponente('confeccionar-cartao-acesso')" class="col-lg-4 col-sm-12 col-xs-12">
      <nb-card (click)="confeccionarCartaoAcesso()">
        <nb-card-header>
          <i class="fa fa-4x fa-print text-success"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center">Confeccionar cartão de acesso</h5>
        </nb-card-footer>
      </nb-card>
    </div>

  </div>
</div>
<!--###############################################################################################-->