<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row mb-2">
        <div class="col-lg-12 col-sm-12 mt-2 text-center">
          <i class="fa fa-lg fa-group text-light"> Turmas</i>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Escola, Série, turno ou ano..."
              (keydown)="filtrarEnter($event)" (input)="gravarValorFiltro($event.target.value)"
              aria-label="buscar por nome" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-dark border-light fa fa-search text-light form-contro-sm"
                (click)="filtrar()" type="button">
                Procurar</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6"></div>
        <div class="col-sm-12 col-lg-2">
          <button *ngIf="exibirComponenteInserir"
            class="btn btn-dark border-light text-light btn-sm float-right form-control form-control-sm"
            (click)="inserir()">Inserir</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <select class="form-control col-lg-3 col-sm-12 mb-2" (change)="listarQuantidade($event)">
          <option [value]="5" selected>Exibir {{ saltarQuantidade }} registros por vez</option>
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="15">15</option>
          <option [value]="20">20</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
          <option [value]="100">100</option>
        </select>
      </div>
      <div class="row">
        <div class="turmas col-lg-12 col-sm-12">
          <table class="table table-striped table-hover" [@chamado]="estado">
            <thead class="thead-light">
              <tr class="row">
                <th class="col-sm-12 col-lg-2" scope="col"><span (click)="ordenarColuna('escola')">Escola</span></th>
                <th class="col-sm-12 col-lg-2" scope="col"><span (click)="ordenarColuna('serie')">Série</span></th>
                <th class="col-sm-12 col-lg-2" scope="col"><span (click)="ordenarColuna('nome')">Turma</span></th>
                <th class="col-sm-12 col-lg-1" scope="col"><span (click)="ordenarColuna('etapa')">Etapa</span></th>
                <th class="col-sm-12 col-lg-1" scope="col"><span (click)="ordenarColuna('turno')">Turno</span></th>
                <th class="col-sm-12 col-lg-1" scope="col"><span (click)="ordenarColuna('ano')">Ano</span></th>
                <th class="col-sm-12 col-lg-1" scope="col"><span>Alunos</span></th>
                <th *ngIf="exibirComponenteAlterar" class="col-sm-12 col-lg-1 text-center" scope="col">Alterar
                </th>
                <th *ngIf="exibirComponenteExcluir" class="col-sm-12 col-lg-1 text-center" scope="col">Excluir
                </th>
              </tr>
            </thead>
            <tbody *ngIf="turmas !== null">
              <tr class="row" *ngFor="let turma of turmas">
                <td class="col-sm-12 col-lg-2">{{ turma.escola}}</td>
                <td class="col-sm-12 col-lg-2">{{ turma.serie}}</td>
                <td class="col-sm-12 col-lg-2">{{ turma.nome }}</td>
                <td class="col-sm-12 col-lg-1">{{ turma.etapa }}</td>
                <td class="col-sm-12 col-lg-1">{{ turma.turno }}</td>
                <td class="col-sm-12 col-lg-1">{{ turma.ano }}</td>
                <td class="col-sm-12 col-lg-1"><button class="btn btn-info btn-sm fa fa-question"
                    (click)="listarEstudantes(turma.id)"></button></td>
                <td *ngIf="exibirComponenteAlterar" class="col-sm-12 col-lg-1 text-center"><button
                    class="btn btn-warning btn-sm" value="{{ turma }}" (click)="alterar(turma)">Alterar</button></td>
                <td *ngIf="exibirComponenteExcluir" class="col-sm-12 col-lg-1 text-center"><button
                    class="btn btn-danger btn-sm" value="{{ turma }}" (click)="excluir(turma)">Excluir</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="..." class="float-right">
        <ul class="pagination">
          <li class="page-item" *ngIf="navegacaoInicio === undefined || navegacaoInicio === true">
            <a class="page-link fa fa-arrow-left text-danger" (click)="navegarAnterior()"></a>
          </li>
          <li class="page-item" *ngIf="navegacaoInicio === false">
            <a class="page-link fa fa-arrow-left" (click)="navegarAnterior()"></a>
          </li>

          <li class="page-item" *ngIf="navegacaoFim === true">
            <a class="page-link fa fa-arrow-right text-danger" (click)="navegarProximo()"></a>
          </li>
          <li class="page-item" *ngIf="navegacaoFim === false || navegacaoFim === undefined">
            <a class="page-link fa fa-arrow-right" (click)="navegarProximo()"></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="card-footer text-muted bg-dark text-light text-center">
      <i *ngIf="feedbackUsuario === undefined && (navegacaoFim === false || navegacaoFim === undefined)"
        class="fa fa-lg fa-info-circle text-light" [@chamado]="estado"> Listagem de professores - Exibindo
        {{ offsetRegistros+1 }} ao {{ offsetRegistros +
        saltarQuantidade
        > totalRegistros ? totalRegistros : offsetRegistros + saltarQuantidade }} de {{ totalRegistros }}</i>
      <i *ngIf="feedbackUsuario !== undefined" class="fa fa-lg fa-question-circle text-light" [@chamado]="estado">
        Atualizando</i>
      <i *ngIf="feedbackUsuario === undefined && navegacaoFim === true" class="fa fa-lg fa-info-circle text-light"
        [@chamado]="estado">
        Listagem de Turmas - Exibindo registros finais do total de {{ totalRegistros }}</i>
    </div>
  </div>
</div>

<div id="loadingDiv" *ngIf="feedbackUsuario !== undefined">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>