<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-sm-12 col-lg-12 text-center">
          <i class="fa fa-lg fa-print text-light text-center"> Confeccionar cartões de acesso</i>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-dark border-light form-control col-lg-2 col-sm-12 text-light btn-sm mt-2"
          (click)="gerenciarPedidos()">Gerenciar</button>
        <div class="col-lg-1 col-sm-12"></div>
        <!--############# CARTÃO SIMPLES - FRENTE id:0 #############-->
        <button *ngIf="id_layout_selecionado === 0"
          class="btn btn-dark border-light form-control col-lg-2 col-sm-12 btn-sm mt-2"
          (click)="gerarCarteirinhaBasicoFrenteCanvasEPdf()">GerarDocumento</button>
        <div class="col-lg-1 col-sm-12"></div>
        <!--############# CARTÃO SIMPLES - FRENTE E VERSO id:1 #############-->
        <button *ngIf="id_layout_selecionado === 1"
          class="btn btn-dark border-light form-control col-lg-2 col-sm-12 text-light btn-sm mt-2"
          (click)="gerarCarteirinhaBasicoFrenteVersoCanvasEPdf()">GerarDocumento</button>
        <div class="col-lg-1 col-sm-12"></div>
        <!--############# ETIQUETAS - id:2 #############-->
        <button *ngIf="id_layout_selecionado === 2"
          class="btn btn-dark border-light form-control col-lg-2 col-sm-12 text-light btn-sm mt-2"
          (click)="gerarCarteirinhaEtiquetaCanvasEPdf()">GerarDocumento</button>
        <!--############# SEDF FRENTE VERSO - id:3 #############-->
        <button *ngIf="id_layout_selecionado === 3"
          class="btn btn-dark border-light form-control col-lg-2 col-sm-12 text-light btn-sm mt-2"
          (click)="gerarCarteirinhaSEDFFrenteVersoPdf()">GerarDocumento</button>
        <!--############# PVC RESOLVIDOS - id:4 #############-->
        <button *ngIf="id_layout_selecionado === 4"
          class="btn btn-dark border-light form-control col-lg-2 col-sm-12 text-light btn-sm mt-2"
          (click)="gerarCarteirinhaPVCResolvidos()">GerarDocumento</button>
        <!--############# PADRAO PAPEL SEDF - id:5 #############-->
        <button *ngIf="id_layout_selecionado === 5"
          class="btn btn-dark border-light form-control col-lg-2 col-sm-12 text-light btn-sm mt-2"
          (click)="gerarCarteirinhaPadraoSEDFFrenteVersoCanvasEPdf()">GerarDocumento</button>
        <!--############# RESOLVIDOS PAPEL- id:6 #############-->
        <button *ngIf="id_layout_selecionado === 6"
          class="btn btn-dark border-light form-control col-lg-2 col-sm-12 text-light btn-sm mt-2"
          (click)="gerarCarteirinhaPapelResolvidos()">GerarDocumento</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="dropdown col-sm-12 col-lg-2">
          <button class="btn btn-dark text-light dropdown-toggle" type="button" id="dropdownMenuButtonTurmas"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ stringTurmaSelecionada }}
          </button>
          <div class="dropdown-menu turmas" aria-labelledby="dropdownMenuButtonTurmas">
            <a *ngFor="let turma of turmas" (click)="selecionarTurma($event)" [id]="turma.id"
              name="{{ turma.serie_abv }} - {{ turma.etapa }} - {{ turma.nome }} - {{ turma.turno_abv }}"
              class="dropdown-item">{{ turma.serie_abv }} - {{ turma.etapa }} - {{ turma.nome }} -
              {{ turma.turno_abv }} - Matriculados:&nbsp;<span
                class="badge badge-success">{{ turma.matriculados }}</span> </a>
          </div>
        </div>

        <div class="col-lg-1 col-sm-12 mt-2"></div>
        <div class="dropdown col-sm-12 col-lg-2">
          <button class="btn btn-dark text-light dropdown-toggle" type="button" id="dropdownMenuButtonLayouts"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ stringLayoutSelecionado }}
          </button>
          <div class="dropdown-menu layouts" aria-labelledby="dropdownMenuButtonLayouts">
            <a *ngFor="let layout of layouts" (click)="selecionarLayout(layout)"
              class="dropdown-item">{{ layout.name }}</a>
          </div>
        </div>
      </div>

      <!--############# CARTÃO SIMPLES - FRENTE id:0 #############-->
      <div *ngIf="id_layout_selecionado === 0" class="row mt-3">
        <div *ngFor="let estudante of arrayOfEstudantesCartaoConfeccionado" class="card col-sm-12 col-lg-6 mb-4"
          [id]="'cartao_'+estudante.est_id">
          <div class="card-header bg-google text-center">
            <div class="col-sm-12 col-lg-12 text-center text-dark align-middle">
              <label>{{nomeRedeEnsino}}</label><br>
              <label>{{nomeEscola}}</label>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-lg-3">
                <div class="bg-white rounded mt-5">
                  <img class="img rounded-circle" width="120" height="120"
                    [src]="estudante.foto !== undefined && estudante.foto || 'assets/images/noavatar.jpg'"
                    alt="foto do estudante">
                </div>
              </div>
              <div class="col-sm-12 col-lg-9 text-left text-dark">
                <div class="border-bottom border-secondary text-dark">
                  <label class="text-small">Nome:</label><br>
                  <strong><label>{{estudante.nome}}</label></strong>
                </div>
                <div class="border-bottom border-secondary text-dark">
                  <label>Série-Etapa-turma-turno</label><br>
                  <strong> <label>{{estudante.serie}} - {{estudante.etapa}} - {{estudante.turma}} -
                      {{estudante.turno}}</label></strong>
                </div>
                <div class="text-dark">
                  <label>Código:</label><br>
                  <strong><label>{{estudante.est_id}}</label></strong>
                </div>
                <label>*documento de uso exclusivo para acesso a esta U.E</label>
              </div>
            </div>
          </div>
          <div class="card-footer bg-white">
            <ngx-barcode class="col-sm-12 col-lg-8" [id]="'ngx_Barcode_'+estudante.est_id"
              [bc-value]="estudante.stringCodigoBarras" [bc-display-value]="false" [bc-height]="75" [bc-width]="3">
            </ngx-barcode>
          </div>

        </div>
      </div>

      <!--############# CARTÃO SIMPLES - FRENTE E VERSO id:1 #############-->
      <div *ngIf="id_layout_selecionado === 1" class="mt-3">
        <div *ngFor="let estudante of arrayOfEstudantesCartaoConfeccionado" class="row"
          [id]="'frente_verso'+estudante.est_id">
          <!-- CARD FRENTE -->
          <div class="card col-sm-12 col-lg-6 mb-4" [id]="'frente_cartao_'+estudante.est_id">
            <div class="card-header bg-google text-dark">
              <div class="row">
                <div class="col-sm-12 col-lg-3 bg-google float-left">
                  <img class="img rounded-bottom rounded-top" width="75" height="85"
                    [src]="linkLogoEscola !== undefined && linkLogoEscola || 'assets/images/nologo.jpg'"
                    alt="foto do estudante">
                </div>
                <div class="col-sm-12 col-lg-9 text-center align-middle">
                  <label>{{nomeRedeEnsino}}</label><br>
                  <label>{{nomeEscola}}</label>
                </div>
              </div>
            </div>
            <div class="card-body text-dark">
              <div class="row">
                <div class="col-sm-12 col-lg-3 align-middle">
                  <div class="align-middle mt-5">
                    <img class="img rounded-circle" width="120" height="120"
                      [src]="estudante.foto !== undefined && estudante.foto || 'assets/images/noavatar.jpg'"
                      alt="foto do estudante">
                  </div>
                </div>
                <div class="col-sm-12 col-lg-9 text-left text-dark">
                  <div class="border-bottom border-secondary">
                    <label class="text-small">Nome:</label><br>
                    <strong><label>{{estudante.nome}}</label></strong>
                  </div>
                  <div class="border-bottom border-secondary">
                    <strong><label>Série-Etapa-turma-turno</label><br></strong>
                    <strong><label>{{estudante.serie}} - {{estudante.etapa}} - {{estudante.turma}} -
                        {{estudante.turno}}</label></strong>
                  </div>
                  <div>
                    <strong><label>Código:</label></strong><br>
                    <strong><label>{{estudante.est_id}}</label></strong>
                  </div>

                </div>
              </div>
            </div>
            <div class="card-footer bg-google text-small text-dark">
              <strong>*documento de uso exclusivo para acesso a esta U.E</strong>
            </div>
          </div>
          <!-- CARD VERSO -->
          <div class="card col-sm-12 col-lg-6 mb-4 text-dark" [id]="'verso_cartao_'+estudante.est_id">
            <div class="card-header bg-white text-center">
              <label>End.: {{enderecoEscola}}</label><br>
              <label>Tel.: {{telefoneEscola}}</label><br>
              <label>Cep.: {{cepEscola}}</label>
            </div>
            <div class="card-body">
              <br *ngIf="urlAssinaguraGestor==''"><br *ngIf="urlAssinaguraGestor==''"><br
                *ngIf="urlAssinaguraGestor==''">
              <div class="row">
                <div class="col-sm-12 col-lg-12 text-center">
                  <!-- IMAGEM ASSINATURA DIRETOR -->
                  <div *ngIf="urlAssinaguraGestor!='' && urlAssinaguraGestor!=undefined && urlAssinaguraGestor!=null"
                    class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                      <img [src]=urlAssinaguraGestor alt="" style="width: 20vw; height:20vh">
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div *ngIf="urlAssinaguraGestor==''" class="col-sm-12 col-lg-12">
                    <label>assinatura do diretor</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer bg-white">
              <ngx-barcode class="col-sm-12 col-lg-8" [id]="'ngx_Barcode_'+estudante.est_id"
                [bc-value]="estudante.stringCodigoBarras" [bc-display-value]="false" [bc-height]="75" [bc-width]="3">
              </ngx-barcode>
            </div>
          </div>
        </div>
      </div>

      <!--############# ETIQUETAS DE CÓDIGO DE BARRAS id:2 #############-->
      <div *ngIf="id_layout_selecionado === 2" class="row mt-3">
        <div *ngFor="let estudante of arrayOfEstudantesCartaoConfeccionado" class="card col-sm-12 col-lg-4 mb-4"
          [id]="'etiqueta_'+estudante.est_id">
          <div class="card-body">
            <div class="col-sm-12 col-lg-12 text-center">
              <div class="row">
                <div class="col-sm-12 col-lg-12 text-small text-center text-dark">
                  <label>{{estudante.nome}}</label>
                </div>
                <div class="col-sm-12 col-lg-12 text-center">
                  <ngx-barcode [id]="'ngx_Barcode_'+estudante.est_id" [bc-height]="40"
                    [bc-value]="estudante.stringCodigoBarras" [bc-display-value]="false" [bc-height]="75"
                    [bc-width]="3">
                  </ngx-barcode>
                </div>
                <div class="col-sm-12 col-lg-12 text-small text-center text-dark">
                  <label>{{estudante.serie}} - {{estudante.etapa}} - {{estudante.turma}} -{{estudante.turno}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--############# MODELO CARTÃO PVC SEDF id:3 #############-->
      <div *ngIf="id_layout_selecionado === 3" class="mt-3">
        <div *ngFor="let estudante of arrayOfEstudantesCartaoConfeccionado" class="row">
          <!-- FRENTE -->
          <div [id]="'frente_sedf_'+estudante.est_id" class="col-lg-6  bg-sedf">
            <div class="card card_frente">
              <div class="card-header bg-sedf pt-5 pb">
                <p class="color-texto-sedf float-left" style="font-size: 40px; font-weight: 500;">Carteira de
                  Identificação
                  Escolar</p>
              </div>
              <div class="card-body bg-sedf">
                <div class="row">
                  <!-- LOGO DO PROJETO -->
                  <div class="col-lg-2">
                    <img src="../../../../assets/images/rash_sedf.png" alt="">
                  </div>
                  <!-- FOTO DO ESTUDANTE -->
                  <div class="col-lg-3">
                    <img class="foto-estudante"
                      style="transform: scale(0.6,0.85); margin-left: -75px; margin-top: -25px;"
                      [src]="estudante.foto !== undefined && estudante.foto || 'assets/images/noavatar.jpg'"
                      alt="foto do estudante">
                  </div>
                  <!-- DADOS DO ESTUDANTE -->
                  <div class="col-lg-5">
                    <div class="row">
                      <label class="float-left texto-rotulo-sedf col-12">Nome do
                        estudante</label>
                      <label class="float-left texto-conteudo-sedf col-12">{{estudante.nome}}</label>
                    </div>
                    <div class="row">
                      <div class="col-lg-6" style="margin-left: -15px;">
                        <label class="float-left texto-rotulo-sedf col-12">Turno</label>
                        <label class="float-left texto-conteudo-sedf col-12">{{estudante.turno}}</label>
                      </div>
                      <div class="col-lg-6">
                        <label class="float-left texto-rotulo-sedf col-12">Etapa/Mod</label>
                        <label class="float-left texto-conteudo-sedf col-12">{{estudante.etapa}}</label>
                      </div>
                    </div>
                    <div class="row">
                      <label class="float-left texto-rotulo-sedf col-3">Nasc.</label>
                      <label
                        class="float-left texto-conteudo-sedf col-9">{{estudante.dataNascimento | date:'dd-MM-yyyy'}}</label>
                    </div>
                    <div class="row">
                      <div class="col-lg-7" style="margin-left: -15px;">
                        <label class="float-left texto-rotulo-sedf col-12">Código</label>
                        <label class="float-left texto-conteudo-sedf col-12">{{estudante.est_id}}</label>
                      </div>
                      <div class="col-lg-5">
                        <label class="float-left texto-rotulo-sedf col-12">Ano/Série</label>
                        <label class="float-left texto-conteudo-sedf col-12">{{estudante.serie}}</label>
                      </div>
                    </div>
                  </div>
                  <!-- LOGO GOVERNO -->
                  <div class="col-lg-2">
                    <img src="../../../../assets/images/logo_educacao.png" alt="">
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-7" style="margin-left: -15px;">
                    <label class="float-left texto-rotulo-sedf col-12">Unidade Escolar</label>
                    <label class="float-left texto-conteudo-sedf col-12">Centro Educacional Teste - Piloto</label>
                  </div>
                  <div class="col-lg-2">
                    <label class="float-left texto-rotulo-sedf col-12">Turma</label>
                    <label class="float-left texto-conteudo-sedf col-12">{{estudante.turma}}</label>
                  </div>
                </div>

              </div>
              <div class="card-footer bg-white">
                <ngx-barcode class="col-sm-12 col-lg-8" [id]="'ngx_Barcode_'+estudante.est_id"
                  [bc-value]="estudante.stringCodigoBarras" [bc-display-value]="false" [bc-height]="75" [bc-width]="3">
                </ngx-barcode>
              </div>
            </div>
          </div>
          <!-- VERSO -->
          <div [id]="'verso_sedf_'+estudante.est_id" class="col-lg-6">
            <div class="card card_verso">
              <div class="card-body">
                <div class="row">
                  <div class="col-1"></div>
                  <!-- LOGO GDF -->
                  <div class="col-2">
                    <img src="../../../../assets/images/logo_gdf.png" alt="">
                  </div>
                  <!-- DADOS REGIONAIS E DA ESCOLA -->
                  <div class="col-8 mt-5">
                    <label style="text-align: left;">{{nomeRedeEnsino}}</label><br>
                    <label style="text-align: left;">{{nomeEscola}}</label><br>
                    <label style="text-align: left;">{{enderecoEscola}}</label><br>
                    <label style="text-align: left;">{{telefoneEscola}}</label>
                  </div>
                  <div class="col-1"></div>
                </div>
                <!-- IMAGEM ASSINATURA DIRETOR -->
                <div *ngIf="urlAssinaguraGestor!='' && urlAssinaguraGestor!=undefined && urlAssinaguraGestor!=null"
                  class="row">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <img [src]=urlAssinaguraGestor alt="" style="width: 20vw; height:20vh">
                  </div>
                  <div class="col-2"></div>
                </div>
                <!-- LABEL ASSINATURA DIRETOR -->
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <label>____________________________________________________</label><br>
                    <label>Diretor(a)</label><br>
                    <label>Assinatura e Carimbo</label>
                    <label>Assinatura e Carimbo</label>
                    <label>Válido em todo território nacional</label>
                  </div>
                  <div class="col-2"></div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <!--############# MODELO CARTÃO PVC RESOLVIDOS id:4 #############-->
      <div *ngIf="id_layout_selecionado === 4" class="mt-3">
        <div *ngFor="let estudante of arrayOfEstudantesCartaoConfeccionado" class="row">
          <!-- FRENTE -->
          <div [id]="'frente_resolvidos_'+estudante.est_id" class="col-lg-6">

            <div class="row card-resolvidos-frente pt-5">
              <div class="col-lg-4">
                <img class="foto-estudante rounded-circle"
                  style="transform: scale(0.6,0.6); margin-left: -50px; margin-top: -25px;"
                  [src]="estudante.foto !== undefined && estudante.foto || 'assets/images/noavatar.jpg'"
                  alt="foto do estudante">
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Nome</label>
                  <label class="float-left text-dark col-lg-12 strong"
                    style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.nome}}</strong></label>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Série</label>
                    <label class="float-left text-dark col-lg-12 strong"
                      style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.serie}}</strong></label>
                  </div>
                  <div class="col-lg-6">
                    <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Turma</label>
                    <label class="float-left text-dark col-lg-12 strong"
                      style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.turma}}</strong></label>
                  </div>

                </div>
                <div class="row mb-5">
                  <div class="col-lg-6">
                    <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Turno</label>
                    <label class="float-left text-dark col-lg-12 strong"
                      style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.turno}}</strong></label>
                  </div>
                  <div class="col-lg-6">
                    <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Código</label>
                    <label class="float-left text-dark col-lg-12 strong"
                      style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.est_id}}</strong></label>
                  </div>
                </div>


                <div class="row mt-5">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-4">
                    <img src="../../../../assets/images/NomeNaEscolaSmall.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- VERSO -->
          <div [id]="'verso_resolvidos_'+estudante.est_id" class="col-lg-6">
            <div class="card card_verso">

              <div class="card-body">
                <div class="row">
                  <div class="col-2"></div>
                  <!-- DADOS REGIONAIS E DA ESCOLA -->
                  <div class="col-8">
                    <img src="../../../../assets/images/NomeNaEscola.png" alt="">
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="row"></div>
                <div class="row">
                  <div class="col-lg-12">
                    <label style="text-align: left; font-weight: 600;">{{nomeEscola}}</label><br>
                    <label style="text-align: left; font-weight: 600;">{{enderecoEscola}}</label><br>
                    <label style="text-align: left; font-weight: 600;">{{telefoneEscola}}</label>
                  </div>
                </div>
                <div class="row mt-3"></div>
                <div class="row mt-2">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-8">
                    <ngx-barcode class="col-sm-12" [id]="'ngx_Barcode_'+estudante.est_id"
                      [bc-value]="estudante.stringCodigoBarras" [bc-display-value]="false" [bc-height]="75"
                      [bc-width]="3">
                    </ngx-barcode>
                  </div>
                  <div class="col-lg-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--############# CARTÃO SIMPLES - PADRÃO SEDF FRENTE E VERSO id:5 #############-->
      <div *ngIf="id_layout_selecionado === 5" class="mt-3">
        <div *ngFor="let estudante of arrayOfEstudantesCartaoConfeccionado" class="row"
          [id]="'frente_verso_padrao_sedf'+estudante.est_id">
          <!-- CARD FRENTE -->
          <div class="col-sm-12 col-lg-6 mb-4" [id]="'frente_verso'+estudante.est_id">
            <!-- TITULO -->
            <div class="row sedf_border_all">
              <!-- LOGO SEDF -->
              <div class="col-4">
                <img [src]="linkLogoGDF" alt="" style="width: 4vw; height: 11vh;">
              </div>
              <!-- DADOS DA REDE -->
              <div class="col-8">
                <p style="font-size: 11px; line-height: 135%;">REPÚBLICA FEDERATIVA DO BRASIL<br>
                  GOVERNO DO DISTRITO FEDERAL<br>
                  SECRETARIA DE ESTADO E EDUCAÇÃO DO DISTRITO FEDERAL<br>
                  CRE-{{regiaoEscola}}<br>
                  {{nomeEscola}}
                </p>
              </div>
            </div>
            <div class="row">
              <!-- FOTO -->
              <div class="col-4 sedf_border_foto">
                <img class="img " style="width: 11vw; height: 30vh;"
                  [src]="estudante.foto !== undefined && estudante.foto || 'assets/images/noavatar.jpg'"
                  alt="foto do estudante">
              </div>
              <!-- DADOS -->
              <div class="col-8 text-left">
                <div class="row sedf_border_bottom">
                  <p style="font-size: 11px;">Nome do Estudante:<br>
                    <strong>{{estudante.nome}}</strong>
                  </p>
                </div>
                <div class="row sedf_border_bottom">
                  <div class="col-6">
                    <p style="font-size: 11px;">Código/Ano:<br>
                      <strong>{{estudante.est_id}} / {{anoAtual}}</strong>
                    </p>
                  </div>
                  <div class="col-6">
                    <p style="font-size: 11px;">Data de Nascimento:<br>
                      <strong>{{estudante.dataNascimento | date:"dd/MM/yyyy"}}</strong>
                    </p>
                  </div>
                </div>
                <div class="row sedf_border_bottom">
                  <p style="font-size: 11px;">Etapa/Modalidade:<br>
                    <strong>{{estudante.etapa}}</strong>
                  </p>
                </div>
                <div class="row sedf_border_bottom pb-5">
                  <div class="col-4">
                    <p style="font-size: 11px;">Ano/Série:<br>
                      <strong>{{estudante.serie}}</strong>
                    </p>
                  </div>
                  <div class="col-4">
                    <p style="font-size: 11px;">Turno:<br>
                      <strong>{{estudante.turno}}</strong>
                    </p>
                  </div>
                  <div class="col-4">
                    <p style="font-size: 11px;">Turma:<br>
                      <strong>{{estudante.turma}}</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- CARD VERSO -->
          <div class="col-sm-12 col-lg-6 mb-4 text-dark sedf_border_all"
            [id]="'verso_cartao_padrao_sedf'+estudante.est_id">
            <div class="bg-white text-center">
              <p style="font-size: 11px; line-height: 135%;">
                CRE-{{regiaoEscola}}<br>
                {{nomeEscola}}<br>
                {{enderecoEscola}}<br>
                Brasília-DF<br>
                {{telefoneEscola}}
              </p>
            </div>
            <div class="">
              <br *ngIf="urlAssinaguraGestor==''"><br *ngIf="urlAssinaguraGestor==''"><br
                *ngIf="urlAssinaguraGestor==''">
              <div class="row">
                <div class="col-sm-12 col-lg-12 text-center">
                  <!-- IMAGEM ASSINATURA DIRETOR -->
                  <div *ngIf="urlAssinaguraGestor!='' && urlAssinaguraGestor!=undefined && urlAssinaguraGestor!=null"
                    class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                      <img [src]=urlAssinaguraGestor alt="" style="width: 10vw; height:10vh">
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div *ngIf="urlAssinaguraGestor==''" class="col-sm-12 col-lg-12">
                    <label>assinatura do diretor</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-white">
              <p><strong>Válido em todo território nacional</strong></p>
              <ngx-barcode class="col-sm-12 col-lg-8" [id]="'ngx_Barcode_'+estudante.est_id"
                [bc-value]="estudante.stringCodigoBarras" [bc-display-value]="false" [bc-height]="75" [bc-width]="3">
              </ngx-barcode>
            </div>
            <div class="row text-left">
              <p>
                Impresso por: {{nomeUsuario}}<br>
                Data da impressão: {{dataHoraAtual | date:'dd/mm/yyyy HH:mm:ss'}}
              </p>
            </div>




          </div>
        </div>
      </div>

      <!--############# CARTÃO SIMPLES - PADRÃO PAPEL RESOLVIDOS FRENTE E VERSO id:6 #############-->
      <div *ngIf="id_layout_selecionado === 6" class="mt-3">
        <div *ngFor="let estudante of arrayOfEstudantesCartaoConfeccionado" class="row">
          <div [id]="'frente_verso_papel_resolvidos'+estudante.est_id" class="col-lg-12 resolvidos_border_botton">
            <div class="row">
              <!-- FRENTE -->
              <div [id]="'papel_frente_resolvidos_'+estudante.est_id"
                class="card-resolvidos-frente pt-5 resolvidos_border_right col-lg-6">
                <div class="row">

                  <div class="col-lg-4">
                    <img class="foto-estudante rounded-circle"
                      style="transform: scale(0.6,0.6); margin-left: -50px; margin-top: -25px;"
                      [src]="estudante.foto !== undefined && estudante.foto || 'assets/images/noavatar.jpg'"
                      alt="foto do estudante">
                  </div>

                  <div class="col-lg-8">
                    <div class="row">
                      <div class="col-lg-8">
                        <label class="float-left col-lg-12 text-secondary ml-2" style="text-align: left;">Nome</label>
                        <label class="float-left text-dark col-lg-12 strong ml-2"
                          style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.nome}}</strong></label>
                      </div>
                      <div class="col-lg-4">
                        <img class="img rounded-bottom rounded-top" style="width: 6vw; height: 8vh;"
                          [src]="linkLogoEscola !== undefined && linkLogoEscola || 'assets/images/nologo.jpg'"
                          alt="foto do estudante">
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <label class="float-left col-lg-12 text-secondary ml-2" style="text-align: left;">Série</label>
                        <label class="float-left text-dark col-lg-12 strong ml-2"
                          style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.serie}}</strong></label>
                      </div>
                      <div class="col-lg-6">
                        <label class="float-left col-lg-12 text-secondary ml-2" style="text-align: left;">Turma</label>
                        <label class="float-left text-dark col-lg-12 strong ml-2"
                          style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.turma}}</strong></label>
                      </div>

                    </div>
                    <div class="row mb-5">
                      <div class="col-lg-6">
                        <label class="float-left col-lg-12 text-secondary ml-2" style="text-align: left;">Turno</label>
                        <label class="float-left text-dark col-lg-12 strong ml-2"
                          style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.turno}}</strong></label>
                      </div>
                      <div class="col-lg-6">
                        <label class="float-left col-lg-12 text-secondary ml-2" style="text-align: left;">Código</label>
                        <label class="float-left text-dark col-lg-12 strong ml-2"
                          style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.est_id}}</strong></label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- VERSO -->
              <div [id]="'papel_verso_resolvidos_'+estudante.est_id" class="col-lg-6">
                <div class="card card_verso">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <label style="text-align: left; font-weight: 600;">{{nomeEscola}}</label><br>
                        <label style="text-align: left; font-weight: 600;">{{enderecoEscola}}</label><br>
                        <label style="text-align: left; font-weight: 600;">{{telefoneEscola}}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-8">
                        <img [src]=urlAssinaguraGestor alt="" style="width: 10vw; height:10vh">
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row mt-3"></div>
                    <div class="row mt-2">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8 mb-1">
                        <ngx-barcode class="col-sm-12" [id]="'ngx_Barcode_'+estudante.est_id"
                          [bc-value]="estudante.stringCodigoBarras" [bc-display-value]="false" [bc-height]="75"
                          [bc-width]="3">
                        </ngx-barcode>
                      </div>
                      <div class="col-lg-2"></div>
                    </div>
                  </div>
                </div>
              </div>





            </div>
          </div>






          <!--



          <div [id]="'frente_verso_papel_resolvidos'+estudante.est_id" class="col-lg-12">
            frente
            <div class="row card-resolvidos-frente pt-5 resolvidos_border_botton resolvidos_border_right col-lg-6">
              <div class="col-lg-2">
                <img class="foto-estudante rounded-circle"
                  style="transform: scale(0.6,0.6); margin-left: -50px; margin-top: -25px;"
                  [src]="estudante.foto !== undefined && estudante.foto || 'assets/images/noavatar.jpg'"
                  alt="foto do estudante">
              </div>

              <div class="col-lg-2"></div>

              <div class="col-lg-8">
                <div class="row">
                  <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Nome</label>
                  <label class="float-left text-dark col-lg-12 strong"
                    style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.nome}}</strong></label>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Série</label>
                    <label class="float-left text-dark col-lg-12 strong"
                      style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.serie}}</strong></label>
                  </div>
                  <div class="col-lg-6">
                    <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Turma</label>
                    <label class="float-left text-dark col-lg-12 strong"
                      style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.turma}}</strong></label>
                  </div>

                </div>
                <div class="row mb-5">
                  <div class="col-lg-6">
                    <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Turno</label>
                    <label class="float-left text-dark col-lg-12 strong"
                      style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.turno}}</strong></label>
                  </div>
                  <div class="col-lg-6">
                    <label class="float-left col-lg-12 text-secondary" style="text-align: left;">Código</label>
                    <label class="float-left text-dark col-lg-12 strong"
                      style="text-align: left; text-transform: uppercase; font-weight: 500;"><strong>{{estudante.est_id}}</strong></label>
                  </div>
                </div>


                <div class="row mt-5">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-4">
                    <img src="../../../../assets/images/NomeNaEscolaSmall.png" alt="">
                  </div>
                </div>
              </div>
            </div>

            verso
            <div [id]="'papel_verso_resolvidos_'+estudante.est_id" class="col-lg-6">
              <div class="card card_verso resolvidos_border_botton">

                <div class="card-body">
                  <div class="row">
                    <div class="col-2"></div>

                    <div class="col-8">
                      <img src="../../../../assets/images/NomeNaEscola.png" alt="">
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row"></div>
                  <div class="row">
                    <div class="col-lg-12">
                      <label style="text-align: left; font-weight: 600;">{{nomeEscola}}</label><br>
                      <label style="text-align: left; font-weight: 600;">{{enderecoEscola}}</label><br>
                      <label style="text-align: left; font-weight: 600;">{{telefoneEscola}}</label>
                    </div>
                  </div>
                  <div class="row mt-3"></div>
                  <div class="row mt-2">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 mb-1">
                      <ngx-barcode class="col-sm-12" [id]="'ngx_Barcode_'+estudante.est_id"
                        [bc-value]="estudante.stringCodigoBarras" [bc-display-value]="false" [bc-height]="75"
                        [bc-width]="3">
                      </ngx-barcode>
                    </div>
                    <div class="col-lg-2"></div>
                  </div>
                </div>
              </div>
            </div>



          </div> -->





        </div>
      </div>


    </div>
    <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined">
      <div>
        <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
          <div class="col-2">
            <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
          </div>
          <div class="col-10">
            <h4>
              <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>