<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-10 col-sm-12 mt-2 text-center">
          <i class="fa fa-lg fa-apple text-light text-center"> Estudante</i>
        </div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button class="btn btn-dark border-light text-light form-control btn-sm" (click)="listar()">Listagem</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="alterar()">
        <div class="row">
          <div class="mt-2 col-sm-12 col-md-4 col-lg-1 rounded" *ngIf="estudante.foto !== undefined">
            <img [src]="estudante.foto" class="rounded-circle" width="80" height="80" alt="">
          </div>
        </div>
        <div class="row form-group">
          <input type="hidden" class="form-control">
          <input type="text" placeholder="Nome..." name="nome" class="form-control mt-2 col-sm-12 col-md-4 col-lg-7  "
            maxlength="250" required (input)="modificarInputs($event)" (outfocus)="modificarInputs($event)"
            [value]="estudante.nome">
          <input type="text" placeholder="Matricula..." name="matricula"
            class="form-control mt-2 col-sm-12 col-md-4 col-lg-4  " maxlength="50" (input)="modificarInputs($event)"
            (outfocus)="modificarInputs($event)" [value]="estudante.matricula">
        </div>
        <div class="row   form-group">
          <input type="text" placeholder="Pai..." name="pai" class="form-control mt-2 col-sm-12 col-md-4 col-lg-5  "
            maxlength="250" (input)="modificarInputs($event)" (outfocus)="modificarInputs($event)"
            [value]="estudante.pai">
          <input type="text" placeholder="Mãe..." name="mae" class="form-control mt-2 col-sm-12 col-md-4 col-lg-6  "
            maxlength="250" (input)="modificarInputs($event)" (outfocus)="modificarInputs($event)"
            [value]="estudante.mae">
        </div>
        <div class="row   form-group">
          <input type="text" placeholder="Responsável..." name="responsavel"
            class="form-control mt-2 col-sm-12 col-md-4 col-lg-5  " maxlength="250" (input)="modificarInputs($event)"
            (outfocus)="modificarInputs($event)" [value]="estudante.responsavel">
          <input type="email" placeholder="Email..." name="email"
            class="form-control mt-2 col-sm-12 col-md-4 col-lg-6  " maxlength="250" (input)="modificarInputs($event)"
            (outfocus)="modificarInputs($event)" [value]="estudante.email">
        </div>
        <div class="row   form-group">
          <select name="tipo_sanguineo" class="form-control mt-2 col-sm-12 col-md-4 col-lg-1  "
            (change)="modificarInputs($event)">
            <option value="" disabled>Selecione um tipo sanguíneo</option>
            <option *ngFor="let tipo_sanguineo of tipos_sanguineos"
              [selected]="tipo_sanguineo === estudante.tipo_sanguineo ? true : false" value="{{ tipo_sanguineo }}">
              {{ tipo_sanguineo }}</option>
          </select>
          <input type="date" placeholder="Nascimento..." name="nascimento"
            class="form-control mt-2 col-sm-12 col-md-4 col-lg-4  " maxlength="150" (input)="modificarInputs($event)"
            (outfocus)="modificarInputs($event)" [value]="estudante.nascimento">
          <input type="text" placeholder="cep..." name="cep" class="form-control mt-2 col-sm-12 col-md-4 col-lg-2"
            maxlength="20" (input)="modificarInputs($event)" (focusout)="modificarInputs($event)"
            (focusout)="verificarCEP($event)" [value]="estudante.cep">
        </div>
        <div class="row">
          <input type="text" placeholder="Endereço..." name="endereco"
            class="form-control mt-2 col-sm-12 col-md-4 col-lg-8" maxlength="150" (input)="modificarInputs($event)"
            (outfocus)="modificarInputs($event)" [value]="estudante.endereco">
          <div class="mt-2 col-sm-12 col-md-4 col-lg-4">
            <label for="files" class="btn btn-warning mt-2 col-sm-12 col-md-4 col-lg-12">Selecionar foto</label>
            <input type="file" accept=".jpg,.jpeg" (change)="enviarArquivo($event)" id="files"
              style="visibility: hidden;" class="form-control mt-2 col-sm-12 col-md-4 col-lg-1" formControlName="foto">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-12 mt-2">
            <div class="row form-group">
              <div class="input-group col-lg-12">
                <div class="input-group-prepend">
                  <button class="btn btn-success" type="button" id="button-addon" (click)="adicionarTelefone($event)"><i
                      class="fa fa-lg fa-plus"></i> Telefone</button>
                </div>
                <input type="text" [value]="str_telefone" class="form-control" placeholder=""
                  (input)="gravarTelefone($event)" (keydown)="adicionarTelefoneEnter($event)"
                  aria-label="Example text with button addon" aria-describedby="button-addon">
              </div>
            </div>
            <div class="row form-group  ">
              <div class="mt-2 col-lg-12 telefones">
                <div class="row mb-1 bg-light text-dark" *ngFor="let telefone of str_telefones"
                  (click)="excluirTelefone($event)">
                  <div class="mt-2 col-sm-10 col-md-10 col-lg-10 text-center">{{ telefone }}</div>
                  <button class="btn col-lg-1 col-md-1 col-sm-1 mt-2 btn-sm btn-danger form-control"><i
                      class="fa fa-sm fa-close"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 mt-2"></div>
          <div class="col-lg-4 col-sm-12 mt-2">
            <div class="row">
              <button type="submit" class="btn btn-primary form-control mt-2 col-lg-6 col-sm-12">Salvar</button>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <input type="checkbox" class="form-control checkbox float-left permissao" [id]="envio_msg_status"
            name="envio_msg_status" [checked]="msg_status" (change)="modificarChecks($event)">
          <label class="mt-2 col-sm-12 col-md-4 col-lg-3 text-left text-dark">
            Envio de mensagens
          </label>
          <input type="checkbox" class="form-control checkbox float-left permissao" [id]="status_ativo"
            name="status_ativo" [checked]="ativo" (change)="modificarChecks($event)">
          <label class="mt-2 col-sm-12 col-md-4 col-lg-2 text-left text-dark">
            Estudante ativo
          </label>
        </div>
        <div class="row form-group">
          <label for="telefones" class="text-muted">*clique no botao vermelho para excluir um telefone</label>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted bg-dark mt-2">
      <i class="fa fa-lg fa-info-circle text-light"> Alterar estudante</i>
      <div *ngIf="exibirAlerta" class="text-warning" [@chamado]="estado">* Todos os campos devem ser preenchidos</div>
    </div>
  </div>
  <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
    <div>
      <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
        <div class="col-2">
          <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
        </div>
        <div class="col-10">
          <h4>
            <p class="text-justify pr-3">{{ feedbackUsuario }}</p>
          </h4>
        </div>
      </div>
    </div>
  </div>