<div class="container-fluid">
  <div class="card">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-10 col-sm-12 text-center">
          <i class="fa fa-lg fa-medkit text-light text-center"> Inserir novo atestado médico</i>
        </div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button class="btn btn-dark border-light form-control text-light float-right btn-sm"
            (click)="listar()">Listagem</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div>
        <div class="row mb-5">
          <div class="col-11">
            <input placeholder="Informe o nome do estudante..." class="form-control" type="text" list="lista-estudantes"
              [(ngModel)]="estudante" (change)="selecionarEstudante(estudante)" (keydown)="gravarNomeEstudante($event)">
            <datalist id="lista-estudantes">
              <option *ngFor="let estudante of arrayDeEstudantes">
                {{estudante.nome}}-{{estudante.id}}</option>
            </datalist>
          </div>
          <div class="col-1">
            <button (click)="filtrarEstudante()" class="btn btn-sm btn-primary">Procurar</button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-12 col-lg-3">
            <input type="text" name="txt_cid" value="" placeholder="Informe o CID..." class="form-control"
              (keyup)="filtrarCID($event)">
          </div>
          <div class="form-group col-sm-12 col-lg-9">
            <input type="text" name="txt_cid" value="" placeholder="..." class="form-control" [(ngModel)]="cid">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-3 col-sm-12">
            <input type="date" name="data_inicio" value="" [(ngModel)]="data_inicio" class="form-control"
              (change)="contarDias()">
            <small id="helpId" class="text-muted">Total de dias</small>
          </div>

          <div class="form-group col-lg-3 col-sm-12">
            <input type="date" name="data_fim" value="" [(ngModel)]="data_fim" class="form-control"
              (change)="contarDias()">
            <small id="helpId" class="text-muted">Data final</small>
          </div>

          <div class="form-group col-lg-3 col-sm-12">
            <input type="number" name="data_fim" readonly value="" [(ngModel)]="dias_diferenca" class="form-control">
            <small id="helpId" class="text-muted">Data final</small>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10 col-sm-12">

          </div>
          <button class="btn btn-sm col-lg-1 col-sm-12 float-right btn-primary"
            (click)="salvarAtestado()">Salvar</button>
        </div>

      </div>
    </div>

  </div>

</div>







<div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>