<div class="container-fluid">
  <div class="card">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-8 col-sm-12 mt-2 text-center">
          <i class="fa fa-lg fa-file text-light"> Perfis</i>
        </div>
        <div class="col-lg-1 col-sm-12 "></div>
        <button *ngIf="exibirComponenteInserir"
          class="col-lg-1 col-sm-12 mt-2 btn btn-dark text-light border-light btn-sm form-control"
          (click)="inserir()">Adicionar</button>
        <div class="col-lg-1 col-sm-12 "></div>
        <button *ngIf="exibirComponente('inserir-perfil-permissao')"
          class="col-lg-1 col-sm-12 btn btn-dark border-light text-light btn-sm form-control  mt-2"
          (click)="inserirPerfilPermissao()">Configurar</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="perfis col-lg-12">
          <table class="table table-striped table-hover" [@chamado]="estado">
            <thead class="thead-light">
              <tr class="row">
                <th class="col-lg-10 col-sm-12 text-left" scope="col">Perfil</th>
                <th *ngIf="exibirComponenteAlterar" class="col-lg-1 col-sm-12" scope="col">Alterar</th>
                <th *ngIf="exibirComponenteExcluir" class="col-lg-1 col-sm-12" scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody *ngIf="perfis !== null">
              <tr class="row" *ngFor="let perfil of perfis">
                <td class="col-lg-10 col-sm-12 text-left">{{ perfil.nome }}</td>
                <td *ngIf="exibirComponenteAlterar" class="col-lg-1 col-sm-12"><button class="btn btn-warning btn-sm"
                    value="{{ perfil }}" (click)="alterar(perfil)">Alterar</button></td>
                <td *ngIf="exibirComponenteExcluir" class="col-lg-1 col-sm-12"><button class="btn btn-danger btn-sm"
                    value="{{ perfil }}" (click)="excluir(perfil)">Excluir</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
    <div>
      <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
        <div class="col-2">
          <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
        </div>
        <div class="col-10">
          <h4>
            <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
          </h4>
        </div>
      </div>
    </div>
  </div>