<div class="container-fluid">
  <div class="card text-center" [@chamado]="estado">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-sm-12 text-center mt-2">
              <i class="fa fa-lg fa-cubes text-light text-center"> Área do conhecimento</i>
            </div>
            <div class="col-lg-2 col-sm-12 mt-2">
              <button class="btn btn-dark border-light text-light btn-sm form-control"
                (click)="listar()">Listagem</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h4>
        <p class="text-danger"><b>Deseja alterar esse registro !?</b></p>
      </h4>
      <div class="row m-3 form-group">
        <input type="hidden" class="form-control">
        <input autofocus type="text " name="nome" placeholder="Nome... " class="form-control col-lg-8 col-sm-12 mt-2"
          required (input)="modificarInputs($event)" (focusout)="modificarInputs($event)"
          value="{{ areaConhecimento.nome }}" axlength="45 ">
        <div class="col-1 "></div>
        <input type="text " name="abreviatura" placeholder="Abreviatura... "
          class="form-control col-lg-3 col-sm-12 mt-2" maxlength="5" required (input)="modificarInputs($event)"
          (focusout)="modificarInputs($event)" value="{{ areaConhecimento.abreviatura }}">
      </div>
      <div class="row m-2 form-group ">
        <div class="col-lg-2 col-sm-12 ">
          <button type="submit" class="btn btn-primary form-control float-right"
            (click)="alterar(areaConhecimento)">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
    <div>
      <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
        <div class="col-2">
          <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
        </div>
        <div class="col-10">
          <h4>
            <p class="text-justify pr-3">{{ feedbackUsuario }}</p>
          </h4>
        </div>
      </div>
    </div>
  </div>