<!--##############################################################################################-->
<tour-overlay></tour-overlay>

<div class="container-fluid container-card" [@chamado]="estado">

  <div class="row">

    <!-- <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card *ngIf="exibirComponente('sincronizar-estudante-aplicativo')" (click)="sincronizarAplicativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-mobile text-primary"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Sincronizar estudantes no aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div> -->

    <tour-step selector="sincronizar-aplicativo" *ngIf="exibirComponente('baixar-foto-estudante-aplicativo')" order="1"
      position="right" title="Sincronização">
      Sincroniza dados do aplicativo administravivo.<br>
      Fotos retiradas de estudantes, ocorrências disciplinares registradas por aplicativo<br>entre outras são
      sincronizadas.
    </tour-step>
    <div id="sincronizar-aplicativo" *ngIf="exibirComponente('baixar-foto-estudante-aplicativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="baixarFotosEstudanteAplicativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-refresh text-primary"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Sincronizar aplicativo administrativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <tour-step selector="qrcode-aplicativo-estudante" *ngIf="exibirComponente('gerar-qrcode-aplicativo-estudante')"
      order="2" position="bottom" title="QRCode aplicativo estudantes">
      Gera QRCode para responsáveis cadastrarem os estudantes no aplicativo<br>
      Informações sobre entrada, saída, ocorrências disciplinares e comunicados diversos<br>
      poderão ser recebidas a partir disso.
    </tour-step>
    <div id="qrcode-aplicativo-estudante" *ngIf="exibirComponente('gerar-qrcode-aplicativo-estudante')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="gerarQrcodeAplicativoEstudante()">
        <nb-card-header>
          <i class="fa fa-4x fa-qrcode text-dark"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Gerar QRCode para aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <tour-step selector="qrcode-aplicativo-administrativo"
      *ngIf="exibirComponente('gerar-qrcode-aplicativo-administrativo')" order="2" position="left"
      title="QRCode aplicativo administrativo">
      Gera QRCode para servidores usarem o aplicativo administravivo<br>
      A partir daí, fotos podem ser retiradas pelo aplicativo,<br>
      ocorrências disciplinares podem ser registradas e a <br>
      portaria pode ser remotamente controlada.
    </tour-step>
    <div id="qrcode-aplicativo-administrativo" *ngIf="exibirComponente('gerar-qrcode-aplicativo-administrativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="gerarQrcodeAplicativoAdministrativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-qrcode text-danger"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Gerar QRCode administrativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <tour-step selector="gerenciar-ocorrencias-aplicativo-supervisor"
      *ngIf="exibirComponente('gravar-tipo-ocorrencia-aplicativo-administrativo')" order="2" position="left"
      title="Ocorrencias pelo aplicativo">
      Permite definir quais ocorrências disciplinares podem ser<br>
      registradas a partir do aplicativo Supervisor Escolar.
    </tour-step>
    <div id="gerenciar-ocorrencias-aplicativo-supervisor"
      *ngIf="exibirComponente('gravar-tipo-ocorrencia-aplicativo-administrativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="gravarTipoOcorrenciaAplicativoAdministrativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-warning text-danger"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Definir ocorrencias para aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <tour-step selector="baixar-ocorrencias-aplicativo-administrativo"
      *ngIf="exibirComponente('gravar-tipo-ocorrencia-aplicativo-administrativo')" order="2" position="left"
      title="Sincronizar ocorrências disciplinares">
      Sincroniza as ocorrências disciplinares<br>
      registradas a partir do aplicativo Supervisor Escolar.
    </tour-step>
    <div id="baixar-ocorrencias-aplicativo-administrativo"
      *ngIf="exibirComponente('baixar-ocorrencias-aplicativo-administrativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="baixarOcorrenciasDisciplinaresAplicativoAdministrativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-warning text-warning"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Sincronizar ocorrencias para aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>


  </div>
</div>

<div id="loadingDiv" *ngIf="feedbackUsuario !== undefined">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>

<!--###############################################################################################-->