<!--##############################################################################################-->
<tour-overlay></tour-overlay>

<div class="container-fluid container-card">

  <div class="row">
    <!-- <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card *ngIf="exibirComponente('sincronizar-estudante-aplicativo')" (click)="sincronizarAplicativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-mobile text-primary"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Sincronizar estudantes no aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div> -->
    <div id="sincronizar-aplicativo" *ngIf="exibirComponente('baixar-foto-estudante-aplicativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="baixarFotosEstudanteAplicativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-refresh text-primary"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Sincronizar aplicativo administrativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>
    <div id="qrcode-aplicativo-estudante" *ngIf="exibirComponente('gerar-qrcode-aplicativo-estudante')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="gerarQrcodeAplicativoEstudante()">
        <nb-card-header>
          <i class="fa fa-4x fa-qrcode text-dark"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Gerar QRCode para aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>
    <div id="qrcode-aplicativo-administrativo" *ngIf="exibirComponente('gerar-qrcode-aplicativo-administrativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="gerarQrcodeAplicativoAdministrativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-qrcode text-danger"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Gerar QRCode administrativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>
    <div id="gerenciar-ocorrencias-aplicativo-supervisor"
      *ngIf="exibirComponente('gravar-tipo-ocorrencia-aplicativo-administrativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="gravarTipoOcorrenciaAplicativoAdministrativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-warning text-danger"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Definir ocorrencias para aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>
    <div id="baixar-ocorrencias-aplicativo-administrativo"
      *ngIf="exibirComponente('baixar-ocorrencias-aplicativo-administrativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="baixarOcorrenciasAplicativoAdministrativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-warning text-warning"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Sincronizar ocorrencias para aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <div id="baixar-entradas-manuais-aplicativo-administrativo"
      *ngIf="exibirComponente('baixar-entradas-manuais-aplicativo-administrativo')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="baixarEntradasManuaisAplicativoAdministrativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-warning text-primary"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Sincronizar entradas para aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <div id="listar-estudantes-sem-foto" *ngIf="exibirComponente('listar-estudante-sem-foto')"
      class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card (click)="navegarListarEstudantesSemFoto()">
        <nb-card-header>
          <i class="fa fa-4x fa-question-circle text-warning"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Estudantes sem foto</h5>
        </nb-card-footer>
      </nb-card>
    </div>


  </div>
</div>

<div id="loadingDiv" *ngIf="feedbackUsuario != undefined">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario != undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>

<!--###############################################################################################-->