<!--##############################################################################################-->
<div class="container-fluid container-card" [@chamado]="estado">

  <div class="row">

    <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card *ngIf="exibirComponente('sincronizar-estudante-aplicativo')" (click)="sincronizarAplicativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-mobile text-primary"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Sincronizar estudantes no aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card *ngIf="exibirComponente('gerar-qrcode-aplicativo-estudante')" (click)="gerarQrcodeAplicativoEstudante()">
        <nb-card-header>
          <i class="fa fa-4x fa-qrcode text-dark"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Gerar QRCode para aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card *ngIf="exibirComponente('baixar-foto-estudante-aplicativo')" (click)="baixarFotosEstudanteAplicativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-cloud-download text-success"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Baixar fotos do aplicativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
      <nb-card *ngIf="exibirComponente('gerar-qrcode-aplicativo-administrativo')"
        (click)="gerarQrcodeAplicativoAdministrativo()">
        <nb-card-header>
          <i class="fa fa-4x fa-qrcode text-danger"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center"> Gerar QRCode administrativo</h5>
        </nb-card-footer>
      </nb-card>
    </div>

  </div>
</div>

<div id="loadingDiv" *ngIf="feedbackUsuario !== undefined">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>

<!--###############################################################################################-->