<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-3 col-sm-12 mt-2"></div>
        <div class="col-lg-6 col-sm-12 mt-2">
          <i class="fa fa-lg fa-user-circle text-light text-center"> Usuários</i>
        </div>
        <div class="col-lg-3 col-sm-12 mt-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-12 mt-2">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="nome,matricula ou email..."
              (keydown)="filtrarEnter($event)" (input)="gravarValorFiltro($event.target.value)"
              aria-label="buscar por nome" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-dark border-light fa fa-search text-light form-control-sm"
                (click)="filtrar()" type="button">
                Procurar</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 mt-2"></div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button *ngIf="exibirComponente('inserir-usuario')"
            class="btn btn-sm btn-dark border-light text-light float-right form-control"
            (click)="inserir()">Inserir</button>
        </div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button *ngIf="exibirComponente('inserir-usuario-escola')"
            class="btn btn-sm btn-dark border-light text-light btn-sm float-right form-control"
            (click)="inserirUsuarioEscola()">
            <i class="fa fa-lg fa-chain"></i> Vincular escola</button>
        </div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button *ngIf="exibirComponente('inserir-usuario-professor')"
            class="btn btn-sm btn-dark border-light text-light btn-sm float-right form-control"
            (click)="inserirUsuarioProfessor()">
            <i class="fa fa-lg fa-chain"></i> Vincular professor</button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <select class="form-control col-lg-3 col-sm-12 mb-2" (change)="listarQuantidade($event)">
          <option [value]="5" selected>Exibir {{ saltarQuantidade }} registros por vez</option>
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="15">15</option>
          <option [value]="20">20</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
          <option [value]="100">100</option>
        </select>
      </div>

      <div class="row">
        <div class="usuarios col-lg-12 col-sm-12">
          <table class="table table-striped table-hover" [@chamado]="estado">
            <thead class="thead-light">
              <tr class="row">
                <th class="col-lg-1 col-md-4 col-sm-12 text-center" scope="col">Avatar</th>
                <th class="col-lg-4 col-md-4 col-sm-12 text-left" scope="col"><span
                    (click)="ordenarColuna('nome')">Nome</span>
                </th>
                <th class="col-lg-3 col-md-4 col-sm-12 text-left" scope="col"><span
                    (click)="ordenarColuna('email')">email</span>
                </th>
                <th *ngIf="exibirComponente('alterar-usuario')" class="col-lg-1 col-md-4 col-sm-12 text-right"
                  scope="col">
                  Alterar</th>
                <th *ngIf="exibirComponente('excluir-usuario')" class="col-lg-1 col-md-4 col-sm-12 text-right"
                  scope="col">
                  Excluir</th>
                <th *ngIf="exibirComponente('reiniciar-senha-usuario')" class="col-lg-2 col-md-4 col-sm-12 text-right"
                  scope="col">Reiniciar
                  senha</th>
              </tr>
            </thead>
            <tbody *ngIf="usuarios !== null">
              <tr class="row" *ngFor="let usuario of usuarios" [@chamado]="estado">
                <td class="col-lg-1 col-md-4 col-sm-12 text-center"><img class="img rounded-circle" width="40"
                    height="40" src="{{ usuario.foto !== undefined && usuario.foto || 'assets/images/noavatar.jpg' }}"
                    alt=""></td>
                <td class="col-lg-4 col-md-4 col-sm-12 text-left">{{ usuario.nome }}</td>
                <td class="col-lg-3 col-md-4 col-sm-12 text-left">{{ usuario.email }}</td>
                <td *ngIf="exibirComponente('alterar-usuario')" class="col-lg-1 col-md-4 col-sm-12 text-right"><button
                    class="btn btn-warning btn-sm" value="{{ usuario }}" (click)="alterar(usuario)">Alterar</button>
                </td>
                <td *ngIf="exibirComponente('excluir-usuario')" class="col-lg-1 col-md-4 col-sm-12 text-right"><button
                    class="btn btn-danger btn-sm" value="{{ usuario }}" (click)="excluir(usuario)">Excluir</button></td>
                <td *ngIf="exibirComponente('reiniciar-senha-usuario')" class="col-lg-2 col-md-4 col-sm-12 text-right">
                  <button class="btn btn-success btn-sm" value="{{ usuario }}"
                    (click)="reiniciarSenha(usuario)">Reiniciar
                    senha</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="..." class="float-right">
        <ul class="pagination">
          <li class="page-item" *ngIf="navegacaoInicio === undefined || navegacaoInicio === true">
            <a class="page-link fa fa-arrow-left text-danger" (click)="navegarAnterior()"></a>
          </li>
          <li class="page-item" *ngIf="navegacaoInicio === false">
            <a class="page-link fa fa-arrow-left text-dark" (click)="navegarAnterior()"></a>
          </li>

          <li class="page-item" *ngIf="navegacaoFim === true">
            <a class="page-link fa fa-arrow-right text-danger" (click)="navegarProximo()"></a>
          </li>
          <li class="page-item" *ngIf="navegacaoFim === false || navegacaoFim === undefined">
            <a class="page-link fa fa-arrow-right text-dark" (click)="navegarProximo()"></a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="card-footer text-muted bg-dark">
      <i *ngIf="feedbackUsuario === undefined && (navegacaoFim === false || navegacaoFim === undefined)"
        class="fa fa fa-info-circle text-light" [@chamado]="estado"> Listagem de usuários - Exibindo
        {{ offsetRegistros+1 }} ao {{ offsetRegistros +
          saltarQuantidade
          > totalRegistros ? totalRegistros : offsetRegistros + saltarQuantidade }} de {{ totalRegistros }}</i>
      <i *ngIf="feedbackUsuario !== undefined" class="fa fa fa-question-circle text-light" [@chamado]="estado">
        Atualizando</i>
      <i *ngIf="feedbackUsuario === undefined && navegacaoFim === true" class="fa fa-info-circle text-light"
        [@chamado]="estado">
        Listagem de usuários - Exibindo registros finais do total de {{ totalRegistros }}</i>
    </div>
  </div>

  <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
    <div>
      <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
        <div class="col-2">
          <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
        </div>
        <div class="col-10">
          <h4>
            <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
          </h4>
        </div>
      </div>
    </div>
  </div>