<div class="container-fluid">
  <div class="card">
    <div class="card-header bg-dark">
      <div class="card-title text-light text-center">
        <i class="fa fa-lg fa-pencil text-light"> Atividades extra classe</i>
        <button class="btn btn-sm btn-dark border-light text-light float-right">Voltar</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-sm-12 col-md-2 col-lg-3">
          <label for="">Selecione o turno</label>
          <select class="form-control" (change)="selecionarTurno()" [(ngModel)]="trnId">
            <option value="-1">Todos os turnos</option>
            <option *ngFor="let turno of arrayDeTurnos" [value]="turno.id">{{turno.nome}}</option>
          </select>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3">
          <label for="">Selecione o professor</label>
          <select class="form-control" [(ngModel)]="prdId" (change)="pegarNomeProfessor()">
            <option value="-1" selected>Selecione um professor</option>
            <option *ngFor="let professorDisciplina of arrayDeProfessorDisciplina"
              [id]="professorDisciplina.professor+' - '+professorDisciplina.disciplina_abreviada"
              [value]="professorDisciplina.prd_id">
              {{professorDisciplina.professor}} - {{professorDisciplina.disciplina_abreviada}}</option>
          </select>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3">
          <label for="">Informe a data de entrega</label>
          <input class="form-control" type="date" [(ngModel)]="dataEntrega">
        </div>
      </div>
      <div class="row">
        <div class="turmas col-md-12 col-sm-12 col-lg-3">
          <div class="row mb-3  border-bottom">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-check form-check-inline">
                <label class="form-check-label text-dark">
                  <input (click)="selecionarTodasTurmas($event)" class="form-check-input" type="checkbox" name=""
                    id="selecionar_todas_turmas" value="selecionar_todas_turmas"> Selecionar todas as
                  turmas
                </label>
              </div>
            </div>
          </div>

          <div class="row mb-1" *ngFor="let turma of arrayDeTurmas">
            <div class="form-check form-check-inline col-lg-12 col-md-12 col-sm-12" [@chamado]="estado">
              <label class="form-check-label text-dark" [for]="'turma_'+turma.id">
                <input class="form-check-input" type="checkbox" name="" class="turmas_disponiveis"
                  [id]="'turma_'+turma.id" [value]="turma.id" (change)="listarEstudantesTurmaSelecionada($event)">
                {{turma.serie}}
                {{turma.turma}}
              </label>
            </div>
          </div>
        </div>

        <div class="estudantes col-md-12 col-sm-12 col-lg-4">
          <div class="row mb-3  border-bottom">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-check form-check-inline">
                <label class="form-check-label text-dark">
                  <input (click)="selecionarTodosEstudantes($event)" class="form-check-input" type="checkbox" name=""
                    id="selecionar_todos_estudantes" value="selecionar_todos_estudantes"> Selecionar todos os estudantes
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-1" *ngFor="let estudante of arrayDeEstudantes">
            <div class="form-check form-check-inline col-lg-12 col-md-12 col-sm-12" [@chamado]="estado">
              <label class="form-check-label text-dark" [for]="'estudante_'+estudante.id">
                <input class="form-check-input" type="checkbox" name="" class="estudantes_disponiveis"
                  [id]="'estudante_'+estudante.id" [value]="estudante.id" (change)="adicionarEstudantes($event)">
                {{estudante.nome}}
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="row">
            <input class="form-control" type="text" name="" value="" maxlength="200" [(ngModel)]="tituloAtividade"
              placeholder="título...">
          </div>
          <div class="row">
            <textarea style="resize: none" rows="8" class="form-control col-12" maxlength="1000"
              placeholder="instruções..." [(ngModel)]="instrucoesAtividade"></textarea>
          </div>
          <div class="row">

            <label for="files" class="btn btn-sm form-control btn-dark text-light border-light">Adicionar
              anexos...</label>
            <input type="file" multiple="multiple" accept=".*" value="Teste" (change)="selecionarArquivos($event)"
              id="files" style="visibility: hidden;" class="form-control">
          </div>
          <div class="row">

            <div class="anexos col-12">
              <div class="input-group" *ngFor="let anexo of arrayDeDadosDosAnexos">
                <input type="text" class="form-control" readonly aria-label="Input group example"
                  aria-describedby="btnGroupAddon" [value]="anexo.nome+'.'+anexo.tipo">
                <div class="input-group-append">
                  <div class="input-group-text bg-danger text-light" id="btnGroupAddon"
                    (click)="excluirArquivoAnexado(anexo.nome)"><i class="fa fa-sm fa-remove text-light"></i></div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <button class="btn btn-sm form-control btn-dark text-light border-light" (click)="enviarAtividade()"><i
                class="fa fa-sm fa-send"> Enviar
                atividade</i></button>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>


<div id="loadingDiv" *ngIf="feedbackUsuario != undefined">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario != undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>