<div class="container-fluid">
  <div class="card">

    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-10 col-sm-12 text-center mt-2">
          <i class="fa fa-lg fa-link text-light"> Associar alerta e usuário</i>
        </div>
        <div class="col-lg-2 col-sm-12">
          <button class="btn btn-sm form-control btn-dark border-light text-light mt-2"
            (click)="gerenciarAlerta()">Voltar</button>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="row">
        <!-- ALERTAS -->
        <div class="col-lg-8 col-sm-8 alertas">
          <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
              <h5>
                Selecione as regras
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="card col-lg-4 col-sm-12 mb-2" *ngFor="let regra of arrayOfRegraAlerta">
              <div class="card-header bg-dark text-light">
                Tipo de alerta: <span class="text-warning">{{ regra.tipo_ocorrencia }}</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    Operador: <span class="text-danger">{{regra.operador}}</span>
                  </div>
                  <div class="col-12">
                    Valor:<span class="text-danger">{{regra.valor_referencia}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Período: <span class="text-danger">{{regra.data_inicio | date:'dd-MM-yyyy'}}</span> a
                    <span class="text-danger">{{regra.data_fim | date:'dd-MM-yyyy'}}</span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-12">
                    <input type="checkbox" class="checkbox-inline checkbox" [name]="'chkb_'+regra.ral_id"
                      [id]="'chkb_'+regra.ral_id" (change)="selecionarRegraAlerta(regra.ral_id,$event)">
                    <label for="chkb_{{regra.ral_id}}" class="card-text col-8 my_label"><b>Selecionar</b></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- USUARIOS -->
        <div class="col-lg-4 col-sm-4 usuarios">
          <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
              <h5>
                Selecione os usuários
              </h5>
            </div>
            <div class="row">
              <div class="card col-lg-6 col-sm-12 mb-2" *ngFor="let usuario of arrayOfUsuariosEscola"
                [@chamado]="estado">
                <div class="card-header text-warning bg-dark">{{usuario.usuario}}</div>
                <div class="card-body">
                  <h5 class="card-title">
                    <div class="row">
                      <img [src]="usuario.foto" class="img rounded-circle ml-1 mt-1 col-12 center-block" width="135"
                        height="135">
                    </div>
                  </h5>
                  <div class="row">
                    <input type="checkbox" class="checkbox col-1" [id]="'check_usr_'+usuario.usr_id"
                      (change)="selecionarUsuario(usuario.usr_id,$event)">
                    <label for="check_usr_{{usuario.usr_id}}" class="card-text col-8 my_label"><b>Selecionar</b></label>
                    <div class="col-2">
                      <i class="fa fa-2x fa-question-circle text-primary alerta_question"
                        (click)="verificarRegrasAlertasUsuario(usuario.usr_id)"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-8 col-sm-12"></div>
        <div class="col-lg-2 col-sm-6 mt-2">
          <button class="btn btn-sm form-control btn-danger" (click)="revogarRegrasAlertasUsuarios()">Revogar</button>
        </div>
        <div class="col-lg-2 col-sm-6 mt-2">
          <button class="btn btn-sm form-control btn-primary" (click)="salvarRegrasAlertasUsuarios()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>