<!--##############################################################################################-->
<tour-overlay></tour-overlay>

<div class="container-fluid container-card">
  <div class="row">

    <tour-step selector="listar-alertas" order="1" position="right" title="title string">
      Listagem de alertas alertas existemtes. Alertas podem ser alterados e excluídos.<br>
      Para excluir um alerta, esse não pode estar associado a nenhum usuário.
    </tour-step>
    <div id="listar-alertas" class="col-lg-4 col-sm-12 col-xs-12">
      <nb-card *ngIf="exibirComponente('listar-alerta')" (click)="listarAlertas()">
        <nb-card-header>
          <i class="fa fa-4x fa-list-ul text-primary"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center">Listar alertas</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <tour-step selector="criar-novo-alerta" order="2" position="bottom" title="Dica 2">
      Criação de alertas para serem<br>associados a determinados usuários.
    </tour-step>
    <div id="criar-novo-alerta" class="col-lg-4 col-sm-12 col-xs-12">
      <nb-card *ngIf="exibirComponente('inserir-alerta')" (click)="inserirAlerta()">
        <nb-card-header>
          <i class="fa fa-4x fa-plus text-success"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center">Criar novo alerta</h5>
        </nb-card-footer>
      </nb-card>
    </div>

    <tour-step selector="atribuir-alerta-usuario" order="3" position="left" title="Dica 3">
      Neste item, alertas criados podem ser atribuidos<br>a determinados usuários.
    </tour-step>
    <div id="atribuir-alerta-usuario" class="col-lg-4 col-sm-12 col-xs-12">
      <nb-card *ngIf="exibirComponente('atribuir-alerta-usuario')" (click)="atribuirAlertaUsuario()">
        <nb-card-header>
          <i class="fa fa-4x fa-link text-warning"></i>
        </nb-card-header>
        <nb-card-footer>
          <h5 class="text-center">Atribuir alertas</h5>
        </nb-card-footer>
      </nb-card>
    </div>

  </div>
</div>



<!--###############################################################################################-->