<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-10 col-sm-2 text-center mt-2">
          <i class="fa fa-lg fa-building text-light text-center"> Escola</i>
        </div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button class="btn btn-dark border-light form-control text-light btn-sm" (click)="listar()">Listagem</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="inserir()">
        <div class="col-sm-12 col-lg-1 bg-dark m-2 p-2 rounded" *ngIf="escola.logo !== undefined">
          <img [src]="escola.logo" class="rounded-circle" width="80" height="80" alt="">
        </div>
        <div class="row m-3 form-group">
          <input type="hidden" class="form-control" formControlName="id">
          <input type="text" placeholder="Nome..." class="form-control col-sm-12 col-lg-7 mt-2" formControlName="nome"
            maxlength="50" required (input)="validar($event)" (focusout)="validar($event)">
          <div class="col-lg-1 col-sm-12"></div>
          <input type="text" placeholder="Abreviatura..." class="form-control col-sm-12 col-lg-4 mt-2"
            formControlName="nome_abreviado" maxlength="5" required (input)="validar($event)"
            (focusout)="validar($event)">
        </div>
        <div class="row m-3 form-group">
          <input type="email" placeholder="e-mail..." class="form-control col-sm-12 col-lg-7 mt-2"
            formControlName="email" maxlength="200" required (input)="validar($event)" (focusout)="validar($event)">
          <div class="col-sm-12 col-lg-1"></div>
          <input type="tel" placeholder="telefone..." class="form-control col-sm-12 col-lg-4 mt-2"
            formControlName="telefone" maxlength="25" required (input)="validar($event)" (focusout)="validar($event)">
        </div>
        <div class="row m-3 form-group">
          <input type="text" placeholder="inep..." class="form-control col-sm-12 col-lg-2 mt-2" formControlName="inep"
            maxlength="40" required (input)="validar($event)" (focusout)="validar($event)">
          <div class="col-sm-12 col-lg-1"></div>
          <input type="text" placeholder="cnpj..." class="form-control col-sm-12 col-lg-2 mt-2" formControlName="cnpj"
            maxlength="25" required (input)="validar($event)" (focusout)="validar($event)">
          <div class="col-sm-12 col-lg-1"></div>
          <input type="text" placeholder="cep..." class="form-control col-sm-12 col-lg-2 mt-2" formControlName="cep"
            maxlength="12" required (input)="validar($event)" (focusout)="validar($event)">
          <div class="col-sm-12 col-lg-1 mt-2"></div>
          <div class="col-sm-12 col-lg-3 mt-2">
            <select name="regioesEscolas" required class="form-control" formControlName="ree_id">
              <option value="" disabled>Selecione uma região</option>
              <option *ngFor="let regiao of regioesEscolas" value="{{ regiao.id }}">{{ regiao.nome}}</option>
            </select>
          </div>
        </div>
        <div class="row m-3 form-group">
          <input type="text" placeholder="endereço..." class="form-control col-sm-12 col-lg-7 mt-2"
            formControlName="endereco" maxlength="200" required (input)="validar($event)" (focusout)="validar($event)">
          <div class="col-sm-12 col-lg-1 mt-2"></div>
          <label for="files" class="btn btn-warning col-sm-12 col-lg-4 mt-2">Selecionar logo</label>
          <input type="file" accept=".jpg,.jpeg" (change)="enviarArquivo($event)" id="files" style="visibility: hidden;"
            class="form-control col-sm-12 col-lg-1" formControlName="logo">
        </div>
        <div class="row m-3">
          <label for="filesAssinatura" class="btn btn-warning col-sm-12 col-lg-4 mt-2">Selecionar assinatura</label>
          <input type="file" accept=".jpg,.jpeg" (change)="enviarArquivoAssinatura($event)" id="filesAssinatura"
            style="visibility: hidden;" class="form-control col-sm-12 col-lg-1" formControlName="assinatura_gestor">
        </div>
        <div class="row m-3 form-group">
          <div class="col-sm-12 col-lg-10 mt-2"></div>
          <button type="submit" class="btn btn-primary form-control col-sm-12 col-lg-2">Salvar</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted bg-dark mt-2">
      <i class="fa fa-lg fa-info-circle text-light"> Nova escola</i>
      <div *ngIf="exibirAlerta" class="text-warning" [@chamado]="estado">* Todos os campos devem ser preenchidos</div>
    </div>
    <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined" [@chamado]="estado">
      <div>
        <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
          <div class="col-2">
            <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
          </div>
          <div class="col-10">
            <h4>
              <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
            </h4>
          </div>
        </div>
      </div>
    </div>