.coluna {
  border: solid;
  border-color: rgba(1, 1, 1, 0.2);
  border-width: 0px 1px 0px 1px;
}

.checkbox {
  width: 25px;
  height: 25px;
}

.professores {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60vh;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.disciplinas {
  overflow: scroll;
  overflow-x: hidden;
  height: 60vh;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

#loadingDiv {
  position: fixed;
  top: 45%;
  left: 37%;
  width: 30%;
  height: 12%;
  background-color: #d3d3e27c;
  border: 2px solid #33333113;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  z-index: 10000000;
}
