<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-sm-12 mt-2 col-lg-10 text-center">
          <i class="fa fa-lg fa-book text-light text-center"> Disciplina</i>
        </div>
        <div class="col-lg-2 col-sm-12 mt-2">
          <button *ngIf="exibirComponenteInserir" class="btn btn-dark border-light text-light btn-sm form-control"
            (click)="adicionar()">Adicionar</button>
        </div>
      </div>
    </div>
    <div class="card-body">

      <div class="row">

        <div class="disciplinas col-lg-12 col-sm-12">
          <table class="table table-striped table-hover">
            <thead class="thead-light">
              <tr class="row">
                <th class="col-sm-12 mt-2 col-lg-6 text-center" scope="col" (click)="ordenarColuna('nome')">Nome</th>
                <th class="col-sm-12 mt-2 col-lg-2 text-center" scope="col" (click)="ordenarColuna('abreviatura')">
                  Abreviatura</th>
                <th class="col-sm-12 mt-2 col-lg-2 text-center" scope="col">Area Conhecimento</th>
                <th *ngIf="exibirComponenteAlterar" class="col-sm-12 mt-2 col-lg-1 text-center" scope="col">Alterar
                </th>
                <th *ngIf="exibirComponenteExcluir" class="col-sm-12 mt-2 col-lg-1 text-center" scope="col">Excluir
                </th>

              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let disciplina of disciplinas">
                <td class="col-sm-12 col-lg-6 text-center">{{ disciplina.nome}}</td>
                <td class="col-sm-12 col-lg-2 text-center">{{ disciplina.abreviatura }}</td>
                <td class="col-sm-12 col-lg-2 text-center">{{ disciplina.area_conhecimento_abv }}</td>
                <td *ngIf="exibirComponenteAlterar" class="col-sm-12 col-lg-1 text-center"><button
                    class="btn btn-warning btn-sm" value="{{ disciplina }}"
                    (click)="alterar(disciplina)">Alterar</button>
                </td>
                <td *ngIf="exibirComponenteExcluir" class="col-sm-12 col-lg-1 text-center"><button
                    class="btn btn-danger btn-sm" value="{{ disciplina }}"
                    (click)="excluir(disciplina)">Excluir</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div id="loadingDiv" *ngIf="feedbackUsuario !== undefined">
    <div>
      <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
        <div class="col-2">
          <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
        </div>
        <div class="col-10">
          <h4>
            <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
          </h4>
        </div>
      </div>
    </div>
  </div>