<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row mt-2">
        <div class="col-lg-12 col-sm-12">
          <i class="fa fa-lg fa-eye text-light text-center"> Saídas antecipadas</i>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <div class="input-group mb-3 mt-2">
            <input type="text" class="form-control form-control-sm" placeholder="nome do estudante..."
              (keydown)="filtrarEnter($event)" (input)="gravarValorFiltro($event.target.value)"
              aria-label="buscar por nome" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-dark border-light fa fa-search text-light" (click)="filtrarEventual()"
                type="button">
                Procurar</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6"></div>
        <div class="col-sm-12 col-lg-3">
          <button *ngIf="exibirComponente('inserir-saida-antecipada')"
            class="btn btn-sm btn-dark border-light text-light btn-sm form-control"
            (click)="inserir()">Adicionar</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="dropdown pl-6 pt-2 pl-4 pb-2 col-sm-12 col-lg-3">
        <button class="btn btn-outline-dark dropdown-toggle float-left" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exibir {{ saltarQuantidade }} registros por vez
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="listarQuantidade(5)">5</a>
          <a class="dropdown-item" (click)="listarQuantidade(10)">10</a>
          <a class="dropdown-item" (click)="listarQuantidade(15)">15</a>
          <a class="dropdown-item" (click)="listarQuantidade(20)">20</a>
          <a class="dropdown-item" (click)="listarQuantidade(25)">25</a>
          <a class="dropdown-item" (click)="listarQuantidade(50)">50</a>
          <a class="dropdown-item" (click)="listarQuantidade(100)">100</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="estudantes">
        <table class="table table-striped table-hover" [@chamado]="estado">
          <thead class="thead-light">
            <tr class="row">
              <th class="col-sm-12 col-lg-5 text-left" scope="col"><span
                  (click)="ordenarColuna('nome')">&nbsp;&nbsp;Nome</span></th>
              <th class="col-sm-12 col-lg-1 text-left" scope="col"><span (click)="ordenarColuna('serie')">Série</span>
              </th>
              <th class="col-sm-12 col-lg-1 text-left" scope="col"><span (click)="ordenarColuna('turma')">Turma</span>
              </th>
              <th class="col-sm-12 col-lg-1 text-left" scope="col"><span (click)="ordenarColuna('turno')">Turno</span>
              </th>
              <th class="col-sm-12 col-lg-1 text-left" scope="col"><span (click)="ordenarColuna('etapa')">Etapa</span>
              </th>
              <th class="col-sm-12 col-lg-1 text-left" scope="col"><span (click)="ordenarColuna('motivo')">Motivo</span>
              </th>
              <th class="col-sm-12 col-lg-1 text-left" scope="col"><span (click)="ordenarColuna('data')">Data</span>
              </th>
              <th class="col-sm-12 col-lg-1 text-left" scope="col"><span (click)="ordenarColuna('hora')">Hora</span>
              </th>
              <!-- <th class="col-sm-12 col-lg-1 text-left" scope="col">Excluir</th> -->
            </tr>
          </thead>
          <tbody *ngIf="saidasAntecipadasEventuais != null">
            <tr class="row" *ngFor="let saidaAntecipadaEventual of saidasAntecipadasEventuais">
              <td class="col-sm-12 col-lg-5 text-left">&nbsp;&nbsp;{{ saidaAntecipadaEventual.nome }}</td>
              <td class="col-sm-12 col-lg-1 text-left">{{ saidaAntecipadaEventual.serie }}</td>
              <td class="col-sm-12 col-lg-1 text-left">{{ saidaAntecipadaEventual.turma }}</td>
              <td class="col-sm-12 col-lg-1 text-left">{{ saidaAntecipadaEventual.turno }}</td>
              <td class="col-sm-12 col-lg-1 text-left">{{ saidaAntecipadaEventual.etapa }}</td>
              <td class="col-sm-12 col-lg-1 text-left text-success">
                <!-- Botão -->
                <a data-toggle="modal"
                  [attr.data-target]="'#modelSidaAntecipadaEventual' + saidaAntecipadaEventual.id"><i
                    class="fa fa-2x fa-eye cursor-hand"></i></a>
                <!-- Modal -->
                <div class="modal fade large" id="modelSidaAntecipadaEventual{{ saidaAntecipadaEventual.id }}"
                  tabindex="-1" role="dialog" aria-labelledby="modelLabelEstudante" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body text-justify">
                        <div class="row">
                          <img class="img rounded-circle m-4" width="60" height="60"
                            [src]="saidaAntecipadaEventual.foto != undefined && saidaAntecipadaEventual.foto || 'assets/images/noavatar.jpg'">
                        </div>
                        <div class="text-dark row ml-4">
                          <h6>{{ saidaAntecipadaEventual.motivo }}</h6>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="col-sm-12 col-lg-1 text-left">{{ saidaAntecipadaEventual.data }}</td>
              <td class="col-sm-12 col-lg-1 text-left">{{ saidaAntecipadaEventual.hora }}</td>
              <!-- <td class="col-sm-12 col-lg-1 text-left"><button class="btn btn-sm btn-danger text-light"
                  (click)="excluir(saidaAntecipadaEventual.id,saidaAntecipadaEventual.matricula)"><i
                    class="fa fa-lg fa-remove"></i></button></td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <nav aria-label="..." class="float-right">
        <ul class="pagination">
          <li class="page-item" *ngIf="navegacaoInicio == undefined || navegacaoInicio == true">
            <a class="page-link fa fa-arrow-left text-danger" (click)="navegarAnterior()"></a>
          </li>
          <li class="page-item" *ngIf="navegacaoInicio == false">
            <a class="page-link fa fa-arrow-left" (click)="navegarAnterior()"></a>
          </li>

          <li class="page-item" *ngIf="navegacaoFim == true">
            <a class="page-link fa fa-arrow-right text-danger" (click)="navegarProximo()"></a>
          </li>
          <li class="page-item" *ngIf="navegacaoFim == false || navegacaoFim == undefined">
            <a class="page-link fa fa-arrow-right" (click)="navegarProximo()"></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="card-footer text-muted bg-dark text-center">
      <i *ngIf="feedbackUsuario == undefined && (navegacaoFim == false || navegacaoFim == undefined)"
        class="fa fa-lg fa-info-circle text-light" [@chamado]="estado"> Listagem de estudantes - Exibindo
        {{ offsetRegistros+1 }} ao {{ offsetRegistros +
        saltarQuantidade
        > totalRegistros ? totalRegistros : offsetRegistros + saltarQuantidade }} de {{ totalRegistros }}</i>
      <i *ngIf="feedbackUsuario != undefined" class="fa fa-lg fa-question-circle text-light" [@chamado]="estado">
        Atualizando</i>
      <i *ngIf="feedbackUsuario == undefined && navegacaoFim == true" class="fa fa-lg fa-info-circle text-light"
        [@chamado]="estado">
        Listagem de estudantes - Exibindo registros finais do total de {{ totalRegistros }}</i>
    </div>
  </div>
</div>
<div id="loadingDiv" *ngIf="feedbackUsuario != undefined" [@chamado]="estado">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario != undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>