<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header bg-dark">
      <div class="row">
        <div class="col-lg-10 col-sm-12 text-center">
          <i class="fa fa-lg fa-cubes text-light text-center"> Área do conhecimento</i>
        </div>
        <div *ngIf="exibirComponenteInserir" class="col-lg-2 col-sm-12 mt-2">
          <button class="btn btn-dark border-light text-light btn-sm form-control"
            (click)="adicionar()">Adicionar</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="areasConhecimento col-lg-12 col-sm-12">
          <table class="table table-striped table-hover">
            <thead class="thead-light">
              <tr class="row">
                <th class="col-lg-8 col-sm-4 text-center" scope="col">Nome</th>
                <th class="col-lg-2 col-sm-4" scope="col">Abreviatura</th>
                <th *ngIf="exibirComponenteAlterar" class="col-lg-1 col-sm-2" scope="col">
                  Alterar</th>
                <th *ngIf="exibirComponenteExcluir" class="col-lg-1 col-sm-2" scope="col">
                  Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let area of areasConhecimento">
                <td class="col-lg-8 col-sm-4 text-center">{{area.nome}}</td>
                <td class="col-lg-2 col-sm-4">{{ area.abreviatura }}</td>
                <td *ngIf="exibirComponenteAlterar" class="col-lg-1 col-sm-2"><button class="btn btn-warning btn-sm"
                    value="{{ area }}" (click)="alterar(area)">Alterar</button></td>
                <td *ngIf="exibirComponenteExcluir" class="col-lg-1 col-sm-2"><button class="btn btn-danger btn-sm"
                    value="{{ area }}" (click)="excluir(area)">Excluir</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="loadingDiv" *ngIf="feedbackUsuario !== undefined">
  <div>
    <div class="row mt-2" *ngIf="feedbackUsuario !== undefined">
      <div class="col-2">
        <img src="assets/gifs/loading.gif" width="{{ gif_width }}" height="{{ gif_width }}" alt="">
      </div>
      <div class="col-10">
        <h4>
          <p class="text-left text-dark pr-3">{{ feedbackUsuario }}</p>
        </h4>
      </div>
    </div>
  </div>
</div>